body {
    background-color: #8baaee;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}


nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: inline;
}

.mySlides img {
    width: 120%;
    height: 400px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #000000;
    font-size: 15px;
    padding: 5px 4px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.destination{
    margin: 30px;
    padding: 10px;
}
  
  .kilifi{
    display: grid;
    grid-template-columns: auto,auto,auto;
    background-color: rgb(80, 167, 167);
  }
  .security{
    background-color: #ac3030;
    border: solid black;
    text-align: justify;
  }